@import "../../styles.scss";

.TicketForm {
  .groupTitle {
    background: rgba(black, 0.05);
    padding: 9px 20px 10px;
    font-weight: bold;
  }
  .inputGroup {
    padding: 20px;
  }
  border-top: 1px solid $border-color;
  .inputContainer {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .input {
      width: 100%;
    }
  }
}
