.CardFlow {
  padding: 40px;
  transition: padding linear 200ms;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  .container {
    max-width: 640px;
    margin: 0 auto;
    background: white;
    border: 1px solid darken(white, 15%);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(black, 0.08);
    @media screen and (max-width: 768px) {
      max-width: unset;
      border: none;
      border-radius: 0;
    }
    .header {
      background: rgb(255, 183, 198);
      background: -moz-linear-gradient(
        360deg,
        rgba(255, 183, 198, 1) 0%,
        rgba(255, 217, 225, 1) 100%
      );
      background: -webkit-linear-gradient(
        360deg,
        rgba(255, 183, 198, 1) 0%,
        rgba(255, 217, 225, 1) 100%
      );
      background: linear-gradient(
        360deg,
        rgba(255, 183, 198, 1) 0%,
        rgba(255, 217, 225, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb7c6",endColorstr="#ffd9e1",GradientType=1);
      padding: 20px;
      min-height: 180px;
      display: flex;
      align-items: flex-end;
      .title {
        color: white;
        font-size: 1.9rem;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(black, 0.5);
      }
      .subtitle {
        color: white;
        font-size: 1.3rem;
        text-shadow: 0 1px 0 rgba(black, 0.5);
        margin-top: 8px;
      }
    }
  }
}
